* {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact;
}

.container {
  padding: 50px 0;
}

.logo {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71.982' height='65.959' viewBox='0 0 19.045 17.452'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M16.611 8.133a1.577 1.577 0 01-.584-3.041 8.463 8.463 0 00-.337-.6 2.358 2.358 0 01-2.73-2.73A8.368 8.368 0 008.54.506a8.407 8.407 0 108.367 7.6 1.611 1.611 0 01-.295.027' fill='%23d13339'/%3E%3Cpath d='M18.913 4.265a.81.81 0 10-1.62 0 .81.81 0 001.62 0' fill='%239ab1c5'/%3E%3Cpath d='M17.297 2.169a2.013 2.013 0 10-4.027 0 2.013 2.013 0 004.027 0' fill='%23283846'/%3E%3Cpath d='M17.839 6.556a1.227 1.227 0 10-2.454 0 1.227 1.227 0 102.454 0' fill='%235d717f'/%3E%3Cpath d='M11.93 5.392c-.08-.198-.202-.397-.326-.506a.835.835 0 00-.567-.207c-.543 0-.914.4-.914.825 0 .173.05.363.171.658l1.346 3.276H9.666c-.558 0-.673.105-.881.562-.202.447-1.011 2.364-1.145 2.682h1.866l.678-1.726h2.08l.605 1.466c.094.22.151.26.437.26h1.612s-2.897-7.066-2.987-7.29' fill='%23fff'/%3E%3Cpath d='M7.127 8.3c-.244.202-.596.29-1.136.29h-.87V6.328h.87c.54 0 .892.086 1.136.29.22.182.341.459.341.837 0 .378-.122.66-.34.843m1.42-2.78c-.529-.51-1.33-.785-2.412-.785H3.247v7.948h1.874v-2.509h.884c1.091 0 1.88-.276 2.441-.795.514-.475.833-1.162.833-2.009v-.021c0-.764-.273-1.385-.732-1.829' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  float: right;
  margin-bottom: 10px;
}

.form-group {
  width: 75%;
}

textarea {
  height: 150px;
}

.feature-header {
  margin-top: 60px;
  margin-bottom: 15px;
  overflow: hidden;
}

.tags {
  display: block;
  overflow: hidden;
}

.tags .badge {
  margin-right: 5px;
}

.scenario .tags {
  margin-top: -0.8rem;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.scenario .tags .badge {
  font-weight: normal;
}

.feature-actions button {
  position: relative;
  top: 5px;
}

.feature-actions .custom-select {
  margin-left: 20px;
}

.custom-select {
  font-size: 0.875rem;
}

.scenario-steps {
  margin-top: -0.5em;
  margin-bottom: 0;
}

.scenario-steps > span {
  display: block;
}

.scenario-steps > table {
  margin: 10px 0 10px 0;
  width: auto;
  min-width: 33%;
}

.scenario-example {
  margin: 10px 0 0 0;
}

.scenario-steps .scenario-doc-string {
  font-style: italic;
}

.scenario-example table {
  width: auto;
  min-width: 33%;
}

.scenario-example th {
  font-weight: bold;
}

.scenario-example caption {
  font-style: italic;
  padding: 0.3rem;
}

.report-title-print,
.report-description-print,
.scenario-status-print,
.report-date-print {
  display: none;
}

.badge {
  text-transform: capitalize;
}

.report-date-print {
  font-size: 75%;
}

@media print {
  .remove-feature,
  .remove-scenario,
  .save-report,
  .form-group,
  .scenario-status,
  .scenario-steps,
  .scenario-example,
  .feature-actions {
    display: none;
  }

  body.print-scenario-steps .scenario-steps {
    display: block;
    margin-top: 0.5em;
  }

  body.print-scenario-steps .scenario-example {
    display: block;
  }

  .report-title-print,
  .report-date-print {
    display: inline-block;
  }

  .report-description-print {
    display: block;
  }

  .report-description-print br {
    display: block;
    content: "";
    margin-bottom: 0.75em;
  }

  .report-description-print strong {
    font-weight: bold;
  }

  .scenario-status-print {
    display: inline-block;
  }

  .scenario p {
    margin-bottom: 0;
  }

  .scenario .tags {
    margin-top: 0.2rem;
    margin-bottom: 0;
  }
}
